@{
    ViewData["Title"] = "Signup";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Signup.css" />
}

<div class="signup-page-body">
    <header class="signupHeader">
        <h1 class="signupHeading">Personal Online Calculator</h1>
        <h3 class="signupTitle">Login or Signup to use the web app!</h3>
    </header>

    <div class="signupContainer">
        <div class="signupSlider"></div>
        <div class="btn">
            <button class="login" onclick="location.href='@Url.Action("Login", "Home")'">Login</button>
            <button class="signup">Signup</button>
        </div>

        <div class="signup-form-section">
            <!-- signup form -->
            <div class="signup-box">
                <input type="name"
                       id="name"
                       class="name ele"
                       placeholder="Enter your name">
                <input type="email"
                       id="email"
                       class="email ele"
                       placeholder="youremail@email.com">
                <input type="password"
                    id="password"
                       class="password ele"
                       placeholder="password">
                <input type="password"
                       class="password ele"
                       placeholder="Confirm password">
                <button id="signup-clkbtn" class="signup-clkbtn">Signup</button>
            </div>
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript" src="~/js/Signup.js"></script>
    }
</div>