@{
    ViewData["Title"] = "GeeksforGeeks";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, 
                         initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
 
<body>
    <header>
        <h1 class="heading">Personal Online Calculator</h1>
        <h3 class="title">Login or Signup to use the web app!</h3>
    </header>
 
    <div class="container">
 
        <div class="slider"></div>
        <div class="btn">
            <button class="signup">Signup</button>
            <button class="login" onclick="window.location.href='Login.html'">Login</button>
        </div>
 
        <div class="form-section">
 
            <!-- login form -->
            <div class="login-box">
                <input type="email"
                       class="email ele"
                       placeholder="youremail@email.com">
                <input type="password"
                       class="password ele"
                       placeholder="password">
                <button class="clkbtn">Login</button>
                <!-- add verification of existance of user -->
            </div>
 
            <!-- signup form -->
            <div class="signup-box">
                <input type="text"
                       class="name ele"
                       placeholder="Enter your name">
                <input type="email"
                       class="email ele"
                       placeholder="youremail@email.com">
                <input type="password"
                       class="password ele"
                       placeholder="password">
                <input type="password"
                       class="password ele"
                       placeholder="Confirm password">
                <button class="clkbtn">Signup</button>
            </div>
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript" src="~/js/Signup.js"></script>
    }
</body>
</html>